.date {
    text-align-last: center;
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.result {
    display: flex;
    border-radius: 5px;
    background-image: linear-gradient(220deg, white 1%, #027F3F 10%);
}

#coin {
    width: 70px;
    height: 100px;
    margin-top: -14.2px;
}

.data-result {
    padding: 0.8em;
    padding-left: 2em;
    color: white;
    font-family: 'Poppins';
}

.reminder {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 3px solid #ebb272;
    background-color: #fff0e0;
    text-align: center;
}